<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<!-- <link rel="stylesheet" href="../static/assets/css/ingresaNumero.css"> -->
	<link rel="stylesheet" href="../static/materialize-css/dist/css/materialize.min.css">
	<title>Document</title>
</head>
<body>

<section class="container">
	<section class="row">
		<section class="col s6 offset-s3">
			<img src="../static/assets/img/happy-face.png" alt="">
			<span class="titulo">Hola</span><br>
			<img src="../static/assets/img/eye.png" alt="">
	 	   <span class="subtitulo">Mostrar saldo</span>
		</section>
	</section>
	<section class="row">
		<section class="col s8">
			<span class="titulo">ULTIMAS ACTUALIZACIONES</span>
			<img src="../static/assets/img/right-arrow-circular-button.png" alt="">
		</section>
		<section class="row">
			<section class="col s5">
				<img src="../static/assets/img/icon.png" alt="">
			</section>
			<section class="col s6">
				<span class="subtitulo">¿Aún no haz realizado tu primer pago?<br>
				Es rápido y sencillo</span>
			</section>
		</section>
		<section class="row">
			<section class="col s6">
				<img src="../static/assets/img/send.png" alt="">
				<span class="subtitulo">ENVIAR PAGO</span>
			</section>
			<section class="col s6">
				<img src="../static/assets/img/code-qr.png" alt="">
				<span class="subtitulo">RECIBIR PAGO</span>
			</section>
		</section>
	</section>

</section>

	<script src="../static/jquery/dist/jquery.min.js" charset="utf-8"></script>
	<script src="../static/materialize-css/dist/js/materialize.min.js" charset="utf-8"></script>
	<script src="../static/assets/js/app.js" charset="utf-8"></script>
</body>
</html>
