<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<!-- <link rel="stylesheet" href="../static/assets/css/ingresaNumero.css"> -->
	<link rel="stylesheet" href="../static/materialize-css/dist/css/materialize.min.css">
	<title>Document</title>
</head>
<body>

<section class="container">
	<section class="row">
		<section class="col s6 offset-s3">
			<img src="../static/assets/img/phone.png" alt="">
			<span class="titulo">Para comenzar validemos tu número</span><br>
	 	   <span class="subtitulo">Recibiras un SMS con un codigo de validación</span>
		   <div class="input-field col s12">
		      <input placeholder="+52" id="telefono" type="text" class="validate">
		      <!-- <label for="first_name">+52</label> -->
		    </div>
			<p>
		      <input type="checkbox" id="testTelefono" />
		      <label for="test5">Acepto los <span>Terminos y condiciones</span></label>
		    </p>
			<a class="waves-effect waves-light btn" id="continuar" href="./ingresaCodigo.html">CONTINUAR</a>
		</section>
	</section>


</section>

	<script src="../static/jquery/dist/jquery.min.js" charset="utf-8"></script>
	<script src="../static/materialize-css/dist/js/materialize.min.js" charset="utf-8"></script>
	<script src="../static/assets/js/app.js" charset="utf-8"></script>
	<script src="../static/assets/js/ingresaNumero.js" charset="utf-8"></script>
</body>
</html>
