<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="../static/assets/css/main.css">
	<link rel="stylesheet" href="../static/materialize-css/dist/css/materialize.min.css">
	<title>Document</title>
</head>
<body>
	<section class="row">
		<section class="col s10 m10 l8 offset-s1 offset-m1 offset-l2">
			<img src="../static/assets/img/message.png" class="col s8 m8 l6 offset-s2 offset-m2 offset-l3 img-usuario" alt="">
		</section>
	</section>
	<section class="row">
		<section class="col s10 m10 l8 offset-s1 offset-m1 offset-l2">
			<span class="titulo">Ahora ingresa tu código</span><br>
	 	   <span class="subtitulo">Enviamos un sms con tu código de validación al numeró:</span><span id="numeroTelefono"><strong></strong></span>
	   </section>
	</section>
	<section class="row">
		   <div class="input-field col s12">
		      <input placeholder="- - - -" id="telefono" type="text" class="validate col s6 m6 l6 offset-s3 offset-m3 offset-l3">
		    </div>
			<span class="subtitulo">Reintentar en <span id="contador"></span></span><br>
			<a class="waves-effect btn" id="continuar" href="./crearUsuario.html">CONTINUAR</a>
		</section>
	</section>


	<script src="../static/jquery/dist/jquery.min.js" charset="utf-8"></script>
	<script src="../static/materialize-css/dist/js/materialize.min.js" charset="utf-8"></script>
	<script src="../static/assets/js/app.js" charset="utf-8"></script>
</body>
</html>
